Flask==2.3.3
pymysql==1.1.0
Pillow==12.1.1
cryptography>=43.0.3
Werkzeug==2.3.7
uwsgi==2.0.28
pyotp==2.9.0
qrcode==7.4.2
webauthn==2.3.0
cbor2==5.6.5
alibabacloud_dypnsapi20170525
alibabacloud_tea_openapi
alibabacloud_tea_util
alibabacloud_tea_console